.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  justify-items: center;
  margin: 1rem auto;
}
.heading {
  text-align: center;
  margin: 1rem auto;
  font-size: 1.75rem;
}
.labels {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}
.input {
  margin: 1rem auto;
}
